# Build results
bin/
obj/
out/

# Visual Studio
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core
appsettings.Development.json
appsettings.Local.json
appsettings.*.json
secrets.json

# Dotnet CLI
project.lock.json
project.fragment.lock.json
artifacts/

# .NET Core
*.db
*.pdb
*.cache
*.log
*.db-shm
*.db-wal

# Rider
.idea/

# Mac & Linux
.DS_Store
*.swp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# npm / JS if you’re mixing Next.js in
node_modules/
.env
.env.local
.next/
dist/

# Others
*.vspscc
*.vssscc
*.code-workspace
.fake